<!-- wp:pattern {"slug":"daniele-manca/grid-lines"} /-->
<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"className":"dm-header-spacer"} -->
<div class="wp-block-group dm-header-spacer"></div>
<!-- /wp:group -->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"daniele-manca/hero-home"} /-->
  <!-- wp:pattern {"slug":"daniele-manca/problem"} /-->
  <!-- wp:pattern {"slug":"daniele-manca/solution"} /-->
  <!-- wp:pattern {"slug":"daniele-manca/strategic-differentiator"} /-->
  <!-- wp:pattern {"slug":"daniele-manca/benefits"} /-->
  <!-- wp:pattern {"slug":"daniele-manca/audience"} /-->
  <!-- wp:pattern {"slug":"daniele-manca/cta"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
